

/* ______________________________________________________________________ */

:root{
    --couleurTextes:white;
    --couleurTitres:grey;
    --couleurFond:rgb(100,0,0);
    --couleurBordures:rgb(50,0,0);
    --couleurParagraphes :rgb(80,0,0);
    --couleurBouton :black;
    --couleurHoverBouton : grey;
    --couleurFenetres : grey;
}

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid grey; */
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: var(--couleurBordures);
}

/* ______________________________________________________________________ */


header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

body{
    background-color: var(--couleurFond);
}

p{
    color: var(--couleurTextes);
    border-style: solid;
    border-color: var(--couleurBordures);
    background-color: var(--couleurParagraphes);
    margin: 5px;;

}

li{
    color: var(--couleurTextes);
    list-style: none;
    font-size: 2rem;
}

i{
    color: var(--couleurBouton);
}


span{
    color: var(--couleurTextes);
}


h1{

    font-size:3rem;
}

figure {
    display: inline-block;
    text-align: center;
    background-color: var(--couleurParagraphes);
}
figcaption{
    color: var(--couleurTextes);
    font-size: smaller;
    /* text-align: center; */
    font-style: italic;
}

/* ______________________________________________________________________ */

.slide-in{
    right:0%;
}

.slide-out{
    right:-100%;
}

.animation-fade-in{
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.infos_film{
    color: var(--couleurTitres);
}

.ctner_img_film{
    height: 15rem;
    
}

.ctner_img_film img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.photoActeurs{
    height: 8rem;
}

/* ______________________________________________________________________ */

#ctner_recherche{
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    margin-bottom: 1em;
}

#ctner_recherche input{
    height: 3rem;
    width: 90%;
    margin-right: 0.5rem;
    text-align: start;
    padding: 1rem;
    font-size: 2rem;
}

#ctner_infos_acteur{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    transition: right 2s;
    background-color: var(--couleurFond)
}

#ctner_infos_acteur figure{
    width : 15rem;
    min-height: 5rem;
}

#ctner_filmographie{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#ctner_filmographie img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: var(--couleurParagraphes);
}


#ctner_acteurs{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

#ctner_acteurs figure{
    width : 10rem;
    margin: auto;
}

#ctner_btn_acteurs, #ctner_btn_infos_acteur#{
    display: flex;
    width: 100%;
    height: 5rem;
    align-items: center;

}

#btn_acteurs_precedents{

    left: 1rem;
}

#btn_acteurs_suivants{

    right:1rem;
}

#ctner_presentation_film{
    display: flex;
    background-color: var(--couleurParagraphes);
    padding: 1em;
    margin-bottom: 1em;
}

#ctner_img_film_avant{
    width: 50%;
}

#liste_genres{
    width: 50%;

}

/* ______________________________________________________________________ */

@keyframes fade-in {
    0%{opacity: 0};
    100%{opacity: 1};
}

@keyframes fade-out {
    0%{opacity: 1};
    100%{opacity: 0};
}

/* ______________________________________________________________________ */

@media(hover:hover){
    /* taget device that can hover */
    
    .btn:hover{
        color:var(--couleurHoverBouton);
    }

    .photoActeurs:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    
}

@media(hover:none){
    /* taget device that can't hover */

}

@media(pointer:fine){
    /* mouse*/

    .btn{
        cursor: pointer;
    }

}

@media(pointer:coarse){
    /* touch device */
}