


/* https://timonwa.com/blog/all-vs-root-vs-html-vs-body-selectors */

:root{
    --couleurTextes:white;
    --couleurTitres:grey;
    --couleurFond:rgb(100,0,0);
    --couleurBordures:rgb(50,0,0);
    --couleurParagraphes :rgb(80,0,0);
    --couleurBouton :black;
    --couleurHoverBouton : grey;
    --couleurFenetres : grey;
}

i{
    color: var(--couleurBouton);
}

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid grey; */
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: var(--couleurBordures);
}

body{
    background-color: var(--couleurFond);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}


#ctner_recherche{
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    margin-bottom: 1em;
}


#ctner_recherche input{
    height: 3rem;
    width: 90%;
    margin-right: 0.5rem;
    text-align: start;
    padding: 1rem;
    font-size: 2rem;
}

#infosActeur{
    position: absolute;
    background-color: var(--couleurFenetres);
    transition: right 2s, opacity 2s;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.slide-in{
    right:0%;
}

.slide-out{
    right:-100%;
}

.animation-fade-in{
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in {
    0%{opacity: 0};
    100%{opacity: 1};
}

@keyframes fade-out {
    0%{opacity: 1};
    100%{opacity: 0};
}

#filmographie{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.photoFilmographie{
    /* object-fit: contain; */
    /* width: 100%; */
}

.bouton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: black;
    cursor: pointer;
    border-radius: 20px;
    color: beige;
}

p{
    color: var(--couleurTextes);
    border-style: solid;
    border-color: var(--couleurBordures);
    background-color: var(--couleurParagraphes);
    margin: 5px;;

}
li{
    color: var(--couleurTextes);
    list-style: none;
    font-size: 2rem;
}
.infos_film{
    color: var(--couleurTitres);
}
span{
    color: var(--couleurTextes);
}


h1{

    font-size:3rem;
}

/* __________________________________________________________ */



#ctner_presentation_film{
    display: flex;
    background-color: var(--couleurParagraphes);
    padding: 1em;
    margin-bottom: 1em;
}

.ctner_img_film{
    height: 15rem;
    
}

#ctner_img_film_avant{
    width: 50%;
}

#ctner_img_film_arriere{

}

.ctner_img_film img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#liste_genres{
    width: 50%;

}

/* __________________________________________________________ */


figure {
    display: inline-block;
    text-align: center;
    width : 10rem;
    background-color: var(--couleurParagraphes);
}
figcaption{
    color: var(--couleurTextes);
    font-size: smaller;
    /* text-align: center; */
    font-style: italic;
}
.photoActeurs{
    height: 8rem;
}

#box-acteurs{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
#ctner_btn_acteurs{
    display: flex;
    position: relative;
    width: 100%;
    height: 5rem;
    align-items: center;

}

#btn_acteur_precedent{
    position : absolute;
    left: 1rem;
}

#btn_acteur_suivant{
    position: absolute;
    right:1rem;
}

@media(hover:hover){
    /* taget device that can hover */
    
    .btn:hover{
        color:var(--couleurHoverBouton);
    }

    .photoActeurs:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    
}

@media(hover:none){
    /* taget device that can't hover */

}

@media(pointer:fine){
    /* mouse*/

    .btn{
        cursor: pointer;
    }

}

@media(pointer:coarse){
    /* touch device */
}