

/* ______________________________________________________________________ */

:root{

    --couleurFond:#FFFCFC;
    
    --couleurTitres:#641723;
    --couleurTextes:#CE2C31;
    
    --couleurBordures:#FDBDBE;
    --couleurParagraphes :#FFF7F7;

    --couleurBouton :#E5484D;
    --couleurHoverBouton : #DC3E42;
}

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid grey; */
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: var(--couleurFond);
}

/* ______________________________________________________________________ */


header{
    text-align: center;
}

body{
    background-color: var(--couleurFond);
}

p{
    color: var(--couleurTextes);
    background-color: var(--couleurParagraphes);
    margin: 0.5rem;
    padding: 0.5rem;

}

span{
    color: var(--couleurTextes);
}

li{
    color: var(--couleurTextes);
    list-style: none;
    font-size: 2rem;
    margin-left: 2rem;
}

i{
    color: var(--couleurBouton);
}


h1{

    font-size:4rem;
    color: var(--couleurTitres);
}

figure {
    display: inline-block;
    text-align: center;
    background-color: var(--couleurParagraphes);
}
figcaption{
    color: var(--couleurTextes);
    font-size: 1rem;
    font-style: italic;
}

footer{
    text-align: center;
}

footer a{
    font-size: 1rem;
}

/* ______________________________________________________________________ */

.slide-in{
    right:0%;
}

.slide-out{
    right:-100%;
}

.animation-fade-in{
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.infos_film{
    color: var(--couleurTitres);
}


.img_film{
    height: 100%;
    /* width: 100%; */
    object-fit: contain;
}

.photoActeurs{
    height: 8rem;
}

.ctner_btn_filmographie{
    position: relative;
    display: flex;
    margin: 1rem;
    height: 5%;
    justify-content: center;
    align-items: center;
}

/* ______________________________________________________________________ */

#ctner_recherche{
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    margin : 1rem;
}

#ctner_recherche input{
    height: 3rem;
    width: 90%;
    margin-right: 1rem;
    text-align: start;
    padding: 1rem;
    font-size: 1.5rem;
}

#ctner_presentation_film{
    display: flex;
    background-color: var(--couleurParagraphes);
    padding: 1rem;
    margin: 1rem;
    border : 1px solid var(--couleurBordures);
    height: 15rem;
    align-items: center;
    justify-content: center;
}

#ctner_img_film{
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

#ctner_infos_film{
    border : 1px solid var(--couleurBordures);
    padding: 1rem;
    margin: 1rem;
}

/* DETAILS ACTEUR*/

#ctner_détails_acteur{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    transition: right 1s ease-in-out;
    background-color: var(--couleurFond);
}

#ctner_filmographie_acteur{
    display: flex;
    flex-wrap: wrap;
    top : 0;
    height: 85%;
    background-color: var(--couleurParagraphes);
    border: 1px solid var(--couleurBordures);
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1em;
}

#ctner_filmographie_acteur figure{
    width: 45%;
    height: 25%;
    margin: auto;
    background-color: var(--couleurParagraphes);
}

#ctner_filmographie_acteur img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


#btn_films_precedents{
    position: absolute;
    left: 0;
}

#btn_films_suivants{
    position: absolute;
    right: 0;
}

/* ACTEURS*/

#ctner_acteurs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

#ctner_photos_acteurs{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

#ctner_photos_acteurs figure{
    width : 10rem;
    height : 10rem;
    margin: auto;
}

/* ______________________________________________________________________ */

@keyframes fade-in {
    0%{opacity: 0};
    100%{opacity: 1};
}

@keyframes fade-out {
    0%{opacity: 1};
    100%{opacity: 0};
}

/* ______________________________________________________________________ */

@media(hover:hover){
    /* taget device that can hover */
    
    .btn:hover{
        color:var(--couleurHoverBouton);
    }

    .photoActeurs:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    
}

@media(hover:none){
    /* taget device that can't hover */

}

@media(pointer:fine){
    /* mouse*/

    .btn{
        cursor: pointer;
    }

}

@media(pointer:coarse){
    /* touch device */
}